*.pyc
*.pyo
*.pyd
__pycache__/
.venv/
venv/
ENV/
env/
.vscode/
.idea/
*.log
*.sqlite3
db.sqlite3
media/
static/
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.manifest
*.spec
.env
.env.*
*.env
*.manifest
*.spec
.coverage
*.cover
*.hypothesis/
.pytest_cache/
.ipynb_checkpoints
.DS_Store
Thumbs.db